@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes fadeleft {
     0%   {padding-left: 0px; opacity: 0.2}
     100% {padding-left: 0px; opacity: 1}
 }
@keyframes showC {
    0%   {opacity: 0.1}
    100% {opacity: 1}
}
#top{
    min-height: 65vh;
    @apply bg-gray-100;

}
.kursy{
    margin-top:2vh;
}
.card-header{
    padding-left:5px !important;
    padding-right:5px !important;
    @apply text-lg !important;
}
.card-text{
    padding:5px !important;
    @apply text-base !important;
}
.card-body{
    padding:0px !important;
}
#navbar{
    z-index: 1;
    position: fixed!important;
    top:0px!important;
    width:100%;


    background-color: white;
}
#tekst {
    margin-top: 7vh;


}
.infobtn:focus  {

    @apply bg-purple-600 !important;
    color:white !important;
}
#tekst h1{
    font-family: 'Manrope', sans-serif;
    @apply font-thin;
}
#pytania{
    padding-top: 5vh;
    padding-bottom: 5vh;
    @apply bg-gray-100;
    font-family: 'Manrope', sans-serif;
    @apply font-thin;


}
.sidepanel{
    margin-top:10vh;
}
.roadcardtitle{

    @apply text-xl;
    margin-top:1vh;
    @apply bg-gray-100;
    font-family: 'Manrope', sans-serif;

}
.odpowiedz{
    @apply text-lg;
    padding-left: 3%;
}
.pytanie{
    @apply text-xl;
    @apply font-medium;
}
#centerPanel{

    @apply border-r-2;
    @apply border-purple-600 !important;
    min-height: 20vh;
    height: 100%;

}
.dot{
    @apply border-purple-600 !important;
    @apply border-4;
    border-radius: 10px;
}
.mainbtn{
    border-radius: 50px !important;
    margin-bottom: 2vh;
    margin-left: 2vh;
    @apply text-base;
    background-color: transparent !important;
    @apply bg-purple-600 !important;
    @apply text-gray-100 !important;
    @apply border-purple-600 !important;
}
.navbtn {
    border-radius: 50px !important;
    margin-bottom: 2vh;
    margin-left: 2vh;
    @apply text-base;
    background-color: transparent !important;
    @apply text-purple-600 !important;
    @apply border-purple-600 !important;
    animation-name: showC;
    animation-duration: 2s;

}
.navbtn:hover{
    border-radius: 50px !important;
    @apply bg-purple-600 !important;
    @apply text-gray-100 !important;
}

.infobtn {
    width:100%;
    border-radius: 50px !important;
    margin-bottom: 2vh;

    @apply text-base;
    background-color: transparent !important;
    @apply text-purple-600 !important;
    @apply border-purple-600 !important;

    animation-duration: 1s;


}
.infobtn:hover{

    border-radius: 50px !important;
    @apply bg-purple-600 !important;
    @apply text-gray-100 !important;
}
#tekst p{
    font-family: 'Manrope', sans-serif;
    opacity: 0.9;
    @apply text-lg;
    @apply font-light;
    animation-name: showC;
    animation-duration: 2s;

}
#imagecontainer{
    margin-top:5vh;
    padding-top: 2vh;
    border-radius: 20px;
    background-color: white;
    min-height:50vh;
    @apply shadow-2xl;
    font-family: 'Manrope', sans-serif;

}
.modal-body{

    padding: 0px !important;
}
.modal-title{
    font-family: 'Manrope', sans-serif !important;
}
#modaltext{
    margin-top:2vh;
    font-family: 'Manrope', sans-serif;
}
.roadmapCard{
    margin-top:2vh;
    margin-left: 2vh;
    padding-left: 1vh;
    @apply bg-white;
    border-radius:0px ;
    @apply shadow-xl;
}

.infoItems{
    margin-bottom: -2vh;
}

.generericIntro{
    font-family: 'Manrope', sans-serif;
}

.panelContent{
    margin-top:2vh;
    @apply text-base;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 2vh;
}
#zdjecie p{

    @apply text-lg;
    color: black;
    opacity: 0.8;
}

